/* src/App.css */
.App {
  text-align: center;
}

.chat-history {
  padding: 10px;
}

.message {
  margin-bottom: 10px;
}

.alert {
  display: inline-block;
  max-width: 70%;
  word-wrap: break-word;
}
